.header-container {
  background-color: #2c0e3a;
  height: 5rem;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.logo-container {
  height: 100%;
}
.logo-container img {
  height: 70%;
}
.header-details-container {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffff;
}
.timer-container img {
  width: 30px;
  /* margin-top: 10px; */
  margin-right: 8px;
}
.timer-container span {
  margin-top: -10px;
}
